<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Образование</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/architecture.css' %}">
</head>
<body>
    <h1>Административные процедуры по заявлениям граждан в сфере "Образование"</h1>

    {% if documents %}
        <ul>
            {% for document in documents %}
                <li>
                    <a href="{{ document.file.url }}">{{ document.title }}</a>
                    {% if user.is_authenticated %}
                        <a href="{% url 'edit_document' document.id %}">Редактировать</a>
                    {% endif %}
                </li>
            {% endfor %}
        </ul>
    {% else %}
        <p>Документы отсутствуют.</p>
    {% endif %}

    <a href="{% url 'procedures' %}" class="back-button">Назад</a>

    {% if user.is_authenticated %}
        <a href="{% url 'upload_document' 'education' %}">Загрузить новый документ</a> <!-- Исправлено здесь -->
    {% endif %}
</body>
</html>